<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Priority
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item ">Rating</a>
                <a href="" class="dropdown-item ">Category</a>
                <a href="" class="dropdown-item ">Late arrival</a>
                <a href="" class="dropdown-item ">Postal District</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Campspot 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Activewear &amp; Essentials</a>
                <a href="" class="dropdown-item">Aberdeenshire (or the County of Aberdeen)</a>
                <a href="" class="dropdown-item">Angus (or Forfarshire or the County of Forfar)</a>
                <a href="" class="dropdown-item">Argyll (or Argyllshire)</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Party &amp; Fun</a>
                <a href="" class="dropdown-item">Kids &amp; Teens</a>
                <a href="" class="dropdown-item">Therapeutic</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">Star, planet and Moon Gazing</a>
                <a href="" class="dropdown-item">Campfire with music</a>
                <a href="" class="dropdown-item">Social</a>
                <a href="" class="dropdown-item">Craft</a>
                <a href="" class="dropdown-item">Wildlife</a>
                <a href="" class="dropdown-item">Diet changes</a>
                <a href="" class="dropdown-item">Tech detox</a>
                <a href="" class="dropdown-item">Break up party</a>
                <a href="" class="dropdown-item">Hen party</a>
                <a href="" class="dropdown-item">Exercise, PT</a>
                <a href="" class="dropdown-item">Walking</a>
                <a href="" class="dropdown-item">Cycling</a>
                <a href="" class="dropdown-item">Canoeing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Free Nights</a>
                <a href="" class="dropdown-item">Free entertainment</a>
                <a href="" class="dropdown-item">Free drink</a>
                <a href="" class="dropdown-item">Free food</a>
                <a href="" class="dropdown-item">Free pick up</a>
                <a href="" class="dropdown-item">Free Event</a>
                <a href="" class="dropdown-item">Free Kids</a>
                <a href="" class="dropdown-item">Free Pets</a>
            </div>
        </li>
    </ul>
</div>