{% extends "base.html" %}
{% load static %}

{% block page_header %}


{%endblock%}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Privacy policy to come</h2>

                    <p>At some point in our internet using lives, we’ve stumbled across a 404 page./n

                    Whether you’re new to the web or a seasoned veteran, they can be confusing and frustrating.

                    So why do they even exist?

                    404 pages serve to alert the visitor that the page they were trying to find no longer exists, and to (hopefully) redirect them to another part of your site. Quite often 404 pages can be overlooked and treated as an afterthought. Countless hours are put into your website and the content pages that make it up, but when it’s the 404 page’s turn, it’s easy to use the generic error code to save time (but you shouldn’t).

                    Having a custom (and creative) 404 page is a discovery for visitors in itself. It makes light of an unfortunate situation and can point users to a place where they might get some help.

                    Here’s how you can create an awesome 404 page for your site:
                    01. Have fun

                    Don’t be afraid to have fun with your 404 page. It can be imaginative and outlandish as long as it communicates. </p>

<h1> 404 Error page.</h1>

<h2> Please don't give up. Go back to booking page and try again. </h2>

<h3> https://new-lazycamp.herokuapp.com/campspots/ </h3>



                <hr>
            </div>
        </div>
{%endblock%}