{% extends "base.html" %}
{% load static %}

{% block page_header %}


{%endblock%}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Privacy policy

Find Me A Gift respects your privacy and is committed to protecting your personal data. We know there is a lot of information here, but we want you to be fully informed about your rights, we will also explain how we handle and store the data and how we keep it safe.

This policy will tell you how we look after your personal data when you visit our website referred to as the “website” and inform you of your privacy rights and how the law protects you. Please use the glossary at the end of this privacy policy to understand the meaning of some of the terms used in it.

Why do we have a privacy policy?

The purpose of this privacy policy is to give you information on how Find Me A Gift collects and processes your personal data when using our website, this includes any data you may provide through the website when you sign up to receive our marketing material, purchase a product, service or take part in any competitions.

Please read this privacy policy together with any other privacy notice on our website from time to time so that you are fully aware of how and why we are using your data.

Find Me A Gift is responsible for your personal data (collectively referred to as, “we”, “us” or “our” in this privacy policy).

We have appointed a data protection champion who is responsible for questions in relation to our privacy policy. If you have any questions, including any requests to exercise your legal rights, please contact us via our customer contact page and state that your query is for the attention of the data protection champion.

Contact details

Full name of legal entity: Gift Inspiration Limited, a limited company with registered number 11867951. Gift Inspiration Limited is registered, and operates, in the United Kingdom. Find Me A Gift is the trading name of Gift Inspiration Limited.

Postal address: Find Me A Gift, Pure Offices, Plato Close, Tachbrook Park, Leamington Spa, CV34 6WE

You can also contact us here.

How we protect your personal data

The most important bit. Find Me a Gift knows how much data security matters to all our customers. With this in mind we will treat your data with the utmost care and take all appropriate steps to protect it.

    We secure access to all transactional areas of our websites using ‘https’ technology.
    Access to your personal data is password-protected, and sensitive data such as payment card information) is secured and tokenised to ensure it is protected.
    We regularly monitor our system for possible vulnerabilities and attacks, and we carry out penetration testing to identify ways to further strengthen security.


Changes to the privacy policy and your duty to inform us of changes

From time to time we will need to update this policy and without notice and where we do this we will notify you by including pop up boxes on the website and/or emailing our customers. Our policy was last updated on 01 June 2018.

It’s crucial that the personal data we hold about you is accurate and up to date. Please keep us informed if your personal data changes during your relationship with us and occasionally review your account settings on our website.
</h2>
                <hr>
            </div>
        </div>
{%endblock%}