{% extends "base.html" %}


{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">Contact Us</div>
        </div>
    </div>

{% endblock %}

<!-- {% block search_products %}{% endblock %} -->

{% block content %}



    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">

                </div>
            </div>
            


 {% if enquiry_form.errors %}	
         <h1> Please ensure the form is valid </h1>
    {% endif %}
                    

                    <div class="col-12">
                        <form action="" method="post">
                        {% csrf_token %}
                            {{enquiry_form|crispy}}
                            <button>Send</button>
                        </form>
                    </div>

                    </div>
                    
                            <div class="col-12">
                                                            


                            </div>
                            
                            <div class="col{% if s %}-12 mt-2{% endif %}">

<button type="button" class="btn btn-lg btn-success">Email Enquiry</button>






                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Looking to book by phone</span>
                            </a>
                                              <a href="{% url 'campspots' %}" class="btn btn-outline-black rounded-0 mt-5">
                  <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                  </span>
                  <span class="text-uppercase">Keep Looking to book online</span>
                  </a>
     <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Book">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

